[33mcommit 19380e49af2a6631f49a621e2b48110ed512db49[m[33m ([m[1;36mHEAD -> [m[1;32mmaster[m[33m)[m
Author: HectorManu <le19081442@itmerida.edu.mx>
Date:   Sat Apr 24 13:31:36 2021 -0500

    Este es otro cambio x

[33mcommit 2106adca65de735d8379b20064e54a5bea8818fd[m
Author: HectorManu <le19081442@itmerida.edu.mx>
Date:   Sat Apr 24 13:30:43 2021 -0500

    Este es un cambio extra a ver que le sucede jajaja

[33mcommit 7e8c658b6fdda3cd73e6ee48f7644ed44a46ff85[m[33m ([m[1;31morigin/master[m[33m)[m
Author: HectorManu <le19081442@itmerida.edu.mx>
Date:   Sat Apr 24 13:25:30 2021 -0500

    Este es un cambio al archivo basic.css para ver que sucede con su historia despues le hare un reset para recuperar el antrerior sin necesidad de borrar de manera manual lo que agregue

[33mcommit efc7398e6cd913d18641b988b9393c14cb27bcae[m
Author: HectorManu <le19081442@itmerida.edu.mx>
Date:   Sat Apr 24 13:06:36 2021 -0500

    "Este es el primer commi de este archivo es una prueba
